@mixin button() {
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  line-height: $font-line-height-base;
  background-color: white;
  border: 2px solid $teal;
  font-family: $font-heading-stack;
  font-weight: bold;

  &,
  &:visited {
    color: $teal;
  }

  &:hover,
  &:focus {
    border-color: black;
    color: white;
    background-color: black;
  }
}

.articles-container {
  &__ul {
    padding-left: 0;
    list-style-type: none;
  }
}

.article-item {
  padding: 32px;
  background-color: white;

  &__byline {
    font-family: $font-heading-stack;
  }

  &__content-wrapper {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    max-width: 382px;
    padding-right: 28px;
    padding-bottom: 80px;
    background-color: white;
  }

  &__intro {
    padding-bottom: 24px;
  }

  &__read-more {
    @include button();
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background-color: #ecf0f1;
  font-family: $font-heading-stack;

  &__label {
    padding-right: 16px;
    font-weight: bold;
  }

  &__fieldset {
    border: 0;
  }

  &__title-input {
    width: 240px;
    padding: 8px 4px;
  }

  &__sort-input {
    width: 160px;
    padding: 8px 4px;
  }

  &__submit {
    @include button;
    padding: 12px 20px;
  }
}
